[submodule "subcomponents/af-component-fastapi-backend-oauth"]
	path = subcomponents/af-component-fastapi-backend-oauth
	url = git@github.com:datarobot/af-component-fastapi-backend-oauth
	branch = damon/oauth-refactor
[submodule "subcomponents/af-component-fastapi-backend-persistence-sqlite"]
	path = subcomponents/af-component-fastapi-backend-persistence-sqlite
	url = git@github.com:datarobot/af-component-fastapi-backend-persistence-sqlite
	branch = damon/oauth-refactor
[submodule "af-library-common"]
	path = af-library-common
	url = git@github.com:datarobot/af-library-common
	branch = damon/oauth-refactor
[submodule "libraries/af-library-common"]
	path = libraries/af-library-common
	url = git@github.com:datarobot/af-library-common
	branch = damon/oauth-refactor
