# FastAPI Backend Environment Variables
SESSION_SECRET_KEY=your-secret-key-here
DATAROBOT_ENDPOINT=https://app.datarobot.com/api/v2
DATAROBOT_API_TOKEN=

{{ "" | subcomponent_include(".env.template") }}
