{% include "includes/common/copyright_header.jinja" %}


{% filter subcomponent_include("config/imports.jinja") %}
from datarobot.core.config import DataRobotAppFrameworkBaseSettings

from core.telemetry.logging import FormatType, LogLevel
{% endfilter %}

class Config(DataRobotAppFrameworkBaseSettings):
{% filter subcomponent_include("config/required_fields.jinja", indent=4, lines_between=2) %}
session_secret_key: str
{%endfilter%}

{% filter subcomponent_include("config/default_fields.jinja", indent=4, lines_between=2) %}
session_max_age: int = 14 * 24 * 60 * 60  # 14 days, in seconds
session_https_only: bool = True
session_cookie_name: str = "sess"  # Can be overridden for different apps

log_level: LogLevel = LogLevel.INFO
log_format: FormatType = "json"
{% endfilter %}
