# Copyright 2025 DataRobot, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
import logging
{% filter splitlines() | list | sort | join('\n') %}{#
#}from contextlib import asynccontextmanager
from dataclasses import dataclass
from typing import AsyncGenerator
{% for component in subcomponents %}{#
   #}{% include (["includes", component, "deps", "stdlib_imports.jinja"]|join("/")) %}{#
#}{% endfor %}{#
#}{% endfilter %}


{% filter splitlines() | list | sort | join('\n') %}{#
#}
{% for component in subcomponents %}{#
   #}{% include (["includes", component, "deps", "datarobot_imports.jinja"]|join("/")) %}{#
#}{% endfor %}{#
#}{% endfilter %}


{% filter splitlines() | list | sort | join('\n') %}{#
#}from app.config import Config
{% for component in subcomponents %}{#
   #}{% include (["includes", component, "deps", "app_imports.jinja"]|join("/")) %}{#
#}{% endfor %}{#
#}{% endfilter %}

logger = logging.getLogger(__name__)

@dataclass
class Deps:
{% filter splitlines() | list | sort | join('\n') %}{#
#}    config: Config{#
    #}{% for component in subcomponents %}{#
        #}{% filter indent(width=4) %}{#
            #}{% include (["includes", component, "deps", "fields.jinja"]|join("/")) %}{#
        #}{% endfilter %}{#
    #}{% endfor %}{#
#}{% endfilter %}

{% for component in subcomponents %}{#
   #}{% include (["includes", component, "deps", "helpers.jinja"]|join("/")) %}{#
#}{% endfor %}

@asynccontextmanager
async def create_deps(
    config: Config, deps: Deps | None = None
) -> AsyncGenerator[Deps, None]:
    """
    Create a dependency context for the application (with both startup and shutdown routines).
    Dependencies are basically singletons that are shared on the application server level.
    """
    if deps:
        # this is used for testing when dependencies are given for us
        yield deps
        return

    # startup routine
    {% for component in subcomponents %}{#
        #}{% filter indent(width=4) %}{# 
            Different pre and post startup to permit dependencies between subcomponents (OAuth depends on SQL)
            #}{% include (["includes", component, "deps", "create_deps_pre_startup.jinja"]|join("/")) %}{#
        #}{% endfilter %}{#
    #}{% endfor %}

    {% for component in subcomponents %}{#
        #}{% filter indent(width=4) %}{# 
            #}{% include (["includes", component, "deps", "create_deps_post_startup.jinja"]|join("/")) %}{#
        #}{% endfilter %}{#
    #}{% endfor %}

    yield Deps(
        config=config,{#
        #}{% for component in subcomponents %}{#
            #}{% filter indent(width=8) %}{# 
                #}{% include (["includes", component, "deps", "create_deps_deps_fields.jinja"]|join("/")) %}{#
            #}{% endfilter %}{#
        #}{% endfor %}
    )

    # shutdown routine
    {% for component in subcomponents %}{#
        #}{% filter indent(width=4) %}{# 
            #}{% include (["includes", component, "deps", "create_deps_shutdown.jinja"]|join("/")) %}{#
        #}{% endfilter %}{#
    #}{% endfor %}
