<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      href="{% raw %}{{ app_base_url }}{% endraw %}assets/datarobot_favicon.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{_external_data.base.template_name}}</title>
    <script id="env-script">
      window.ENV = {% raw %}{{ env | tojson }}{% endraw %};
    </script>
    {% raw %}{% for css in css_files %}
    <link rel="stylesheet" crossorigin href="{{ css }}" />
    {% endfor %} {% for js in js_files %}
    <script type="module" crossorigin src="{{ js }}"></script>
    {% endfor %}{% endraw %}
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
